<h1>Pokemon</h1>
<div class="card-container">
  <div class="card" *ngFor="let card of pokemonCards">
    <img [src]="card.imageUrl" alt="{{ card.title }}" />
    <div class="card-overlay">
      <h2>{{ card.title }}</h2>
      <p>{{ card.description }}</p>
      <span class="price">${{ card.price }}</span>
    </div>
  </div>
</div>

<h1>NHL</h1>
<div class="card-container">
  <div class="card" *ngFor="let card of nhlCards">
    <img [src]="card.imageUrl" alt="{{ card.title }}" />
    <div class="card-overlay">
      <h2>{{ card.title }}</h2>
      <p>{{ card.description }}</p>
      <span class="price">${{ card.price }}</span>
    </div>
  </div>
</div>

<h1>One Piece</h1>
<div class="card-container">
  <div class="card" *ngFor="let card of onepieceCards">
    <img [src]="card.imageUrl" alt="{{ card.title }}" />
    <div class="card-overlay">
      <h2>{{ card.title }}</h2>
      <p>{{ card.description }}</p>
      <span class="price">${{ card.price }}</span>
    </div>
  </div>
</div>
