.signup-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: PokeManiaFont, sans-serif;
  width: 100%;
}

.bg-image {
  position: absolute;
  inset: 0;
  background: url('https://i.pinimg.com/originals/7e/70/a5/7e70a5decd6ba3d4936b901000b096f5.jpg')
    center / cover no-repeat;
  filter: blur(4px) brightness(0.6);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}
.signup-card {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 340px;
  padding: 64px;
  background: rgba(2, 6, 23, 0.116);
  border-radius: 18px;

  backdrop-filter: blur(10px);
  text-align: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #facc15;
  margin-bottom: 34px;
  letter-spacing: 2px;
  padding: 0 16px;
  margin: 50px 0;
}

.signup-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 12px;

  border: #000 1px;
  outline: none;
  font-size: 1rem;
  background: #0206179a;
  color: #fff;
}

.signup-card input::placeholder {
  color: #94a3b8;
}

.signup-card button {
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(90deg, #facc15, #fde047);
  color: #020617;
  font-weight: 700;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.signup-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(250, 204, 21, 0.9);
}

.login-link {
  margin-top: 16px;
  color: #cbd5f5;
  font-size: 0.9rem;
}

.login-link a {
  color: #facc15;
  text-decoration: none;
}

/* Loader */
.loader {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #facc15;
}

.pokeball {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(#ef4444 50%, #fff 50%);
  border: 4px solid #000;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
